<div class="category-container">
  <div class="category-form">
    <div class="category-form__header">
      <div class="category-form__header__title">
        <h1>Categorias</h1>
      </div>
      <div class="category-form__header__btn">
        <a
          routerLink="/dashboard/categorias/nova"
          class="category-form__button btn"
        >
          + Adicionar
        </a>
        <input
          type="text"
          placeholder="Pesquisar..."
          [(ngModel)]="searchTerm"
          class="search-input"
        />
      </div>
    </div>

    <div class="category-form__content">
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Criado em</th>
            <th>Atualizado em</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cat of filteredCategories(); index as i">
            <td>{{ cat.name }}</td>
            <td>{{ cat.created_at | date : "dd/MM/yyyy" }}</td>
            <td>{{ cat.updated_at | date : "dd/MM/yyyy" }}</td>
            <td>
              <a
                class="category-form__content__button btn"
                routerLink="/dashboard/categorias/editar/"
              >
                Editar
              </a>
              <button
                class="category-form__content__button"
                (click)="deletarCategoria(cat)"
              >
                Excluir
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
