<div class="container">
  <h2>Novo Pedido</h2>

  <div class="category-list">
    <h3>Categorias</h3>
    <button
      *ngFor="let cat of categories"
      (click)="selectCategory(cat)"
      [class.selected]="selectedCategory?.id === cat.id"
    >
      {{ cat.name }}
    </button>
  </div>

  <div class="product-card" *ngFor="let product of selectedCategory?.products">
  <div class="card-content">
    <img [src]="'/assets/' + product.banner" alt="{{ product.name }}" />
    <div class="info">
      <h4>{{ product.name }}</h4>
      <p>{{ product.descripiton }}</p>
      <p><strong>R$ {{ product.price.toFixed(2) }}</strong></p>
      <button (click)="addToOrder(product)">Adicionar</button>
    </div>
  </div>
</div>


  <div class="order-summary">
    <h3>Itens do Pedido</h3>
    <ul>
      <li *ngFor="let item of orderItems; let i = index">
        {{ item.name }} - R$ {{ item.price.toFixed(2) }}
        <button (click)="removeFromOrder(i)">Remover</button>
      </li>
    </ul>

    <div *ngIf="orderItems.length > 0">
      <p>
        <strong>Total: R$ {{ totalPrice }}</strong>
      </p>
      <button (click)="submitOrder()">Finalizar Pedido</button>
    </div>
  </div>
</div>
