<div class="login-container">
  <div class="login-card">
    <div class="login-card-box-title">
      <h1 class="login-card-box-title__brand">
        Sujeito<span class="red">Pizza</span>
      </h1>
    </div>

    <form (ngSubmit)="onLogin()" #loginForm="ngForm" novalidate>
      <div class="login-card-e-s">
        <input
          type="email"
          class="login-card-e-s__input"
          id="email"
          name="email"
          required
          [(ngModel)]="email"
          #emailInput="ngModel"
          placeholder="Digite seu email"
        />
        <div
          class="login-card-e-s__invalid"
          *ngIf="emailInput.invalid && emailInput.touched"
        >
          Por favor, insira um email válido.
        </div>
      </div>

      <div class="login-card-e-s">
        <input
          type="password"
          class="login-card-e-s__input"
          id="senha"
          name="senha"
          required
          minlength="6"
          [(ngModel)]="senha"
          #senhaInput="ngModel"
          placeholder="Digite sua senha"
        />
        <div
          class="login-card-e-s__invalid"
          *ngIf="senhaInput.invalid && senhaInput.touched"
        >
          A senha deve ter ao menos 6 caracteres.
        </div>
      </div>

      <button
        type="submit"
        class="login-card__botton btn"
        [disabled]="loginForm.invalid"
      >
        Acessar
      </button>
    </form>
    <p class="login-register">
      <a routerLink="/register" class="login-register__p">
        Registrar minha empresa
      </a>
    </p>
  </div>
</div>
