.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1d1d2e;
  padding: 16px;
  box-sizing: border-box;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 24px 32px;
  background: #1d1d2e;
  border: none;

  &__botton {
    background: #ff3d3d;
    width: 100%;
    height: 40px;
    color: white;
    border: none;
  }
}

.login-card-box-title {
  text-align: center;

  &__brand {
    margin: 0 0 24px 0;
    font-weight: 600;
    font-size: 50px;
    color: white;
  }

  &__brand .red {
    color: #ff3f4b;
  }
}

.login-card-e-s {
  &__input {
    margin-bottom: 15px;
    background-color: #1d1d2e;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    color: white;
    width: 100%;
    outline: none;
  }

  &__input::placeholder {
    color: #aaa;
  }

  &__input:focus {
    border-color: #ff3d3d;
  }

  &__invalid {
    color: #ff3f4b;
    margin-top: 1px;
    margin-bottom: 5px;
  }
}

.login-register {
  &__p {
    align-items: center;
    display: flex;
    justify-content: center;
    color: #ccc;
    font-size: 12px;
    margin-top: 10px;
    text-decoration: none;
  }
}
