<div class="form-container">
  <h1>Editar Produto</h1>

  <div class="image-upload">
    <span>+</span>
  </div>

  <form class="product-form">
    <select class="form-input">
      <option disabled selected>Selecione a categoria</option>
      <option>Bebidas</option>
      <option>Pizzas</option>
      <option>Sobremesas</option>
    </select>

    <input type="text" placeholder="Nome do Item" class="form-input" />
    <input type="number" placeholder="Valor" class="form-input" />
    <textarea placeholder="Descrição" class="form-input"></textarea>
    <div class="category-actions">
      <button type="submit" class="submit-btn">Salvar Alterações</button>
      <a class="cancel-link" routerLink="/dashboard/produtos">Cancelar</a>
    </div>
  </form>
</div>
