<nav class="dashboard-navbar">
  <div class="dashboard-navbar__left" >
    <span class="dashboard-navbar__brand">
      Sujeito<span class="dashboard-navbar__brand--red">Pizzaria</span>
    </span>
  </div>

  <ul class="dashboard-navbar__menu">
    <li>
      <a routerLink="/dashboard/pedidos" routerLinkActive="active">Pedidos</a>
    </li>
    <li>
      <a routerLink="/dashboard/categoria" routerLinkActive="active"
        >Categorias</a
      >
    </li>
    <li>
      <a routerLink="/dashboard/produto" routerLinkActive="active">Produtos</a>
    </li>
  </ul>

  <div class="dashboard-navbar__right">
    <button class="logout-button" routerLink="/">Sair</button>
  </div>
</nav>
