<div class="menu-container">
  <div class="menu-card">
    <h1 class="menu-title">Sujeito<span class="red">Pizza</span></h1>

    <div class="menu-grid">
      <a routerLink="/dashboard/pedidos" class="menu-item-card">
        <h2>Pedidos <span class="admin-only">(somente ADM)</span></h2>
        <p>Gerencie os pedidos dos clientes em tempo real.</p>
      </a>
      <a routerLink="/dashboard/produtos" class="menu-item-card">
        <h2>Produtos <span class="admin-only">(somente ADM)</span></h2>
        <p>Adicione e edite os produtos disponíveis para venda.</p>
      </a>
      <a routerLink="/dashboard/cardapio" class="menu-item-card">
        <h2>Cardápio</h2>
        <p>Escolha entre todos nossos diversos pratos.</p>
      </a>
      <a routerLink="/dashboard/mesas/disponivel" class="menu-item-card">
        <h2>Fazer Pedido</h2>
        <p>Faça seu pedido! Verifique todas as mesas disponíveis</p>
      </a>
      <a routerLink="/dashboard/categorias" class="menu-item-card">
        <h2>Categorias <span class="admin-only">(somente ADM)</span></h2>
        <p>Organize seus produtos por categorias.</p>
      </a>
      <a routerLink="/dashboard/usuarios-perfil" class="menu-item-card">
        <h2>Meu Perfil</h2>
        <p>Perfil do usuário.</p>
      </a>
      <a routerLink="/dashboard/usuarios" class="menu-item-card">
        <h2>Usuários <span class="admin-only">(somente ADM)</span></h2>
        <p>Configurações do usuário.</p>
      </a>
      <a routerLink="/dashboard/pedidos/ativos" class="menu-item-card">
        <h2>Pedidos Ativos <span class="admin-only">(somente ADM)</span></h2>
        <p>Ver pedidos ativos.</p>
      </a>
      <a routerLink="/dashboard/mesas" class="menu-item-card">
        <h2>Todas as mesas <span class="admin-only">(somente ADM)</span></h2>
        <p>Ver todas as mesas</p>
      </a>
    </div>
  </div>
</div>
