<div class="menu-container">
  <div class="menu-card">
    <h1 class="menu-title">
      Sujeito<span class="red">Pizza</span>
    </h1>

    <div class="menu-grid">
      <a routerLink="/dashboard/pedidos" class="menu-item-card">
        <h2>Pedidos</h2>
        <p>Gerencie os pedidos dos clientes em tempo real.</p>
      </a>
      <a routerLink="/dashboard/produto" class="menu-item-card">
        <h2>Cardápio</h2>
        <p>Adicione e edite os produtos disponíveis para venda.</p>
      </a>
      <a routerLink="/dashboard/categoria" class="menu-item-card">
        <h2>Categorias</h2>
        <p>Organize seus produtos por categorias.</p>
      </a>
    </div>
  </div>
</div>
