body {
  background-color: #1e1e2f;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}

.menu-container {
 
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1d1d2e;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 0;
  min-height: 60vh;
  margin: 2rem auto;
  padding: 2rem;
  max-width: 100%;

  &::before {
    content: "SujeitoPizza";
    position: absolute;
    font-size: 150px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.05);
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-20deg);
    white-space: nowrap;
    pointer-events: none;
    user-select: none;
  }
}

.menu-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.menu-item-card {
  background: #2c2c3a;
  color: white;
  padding: 24px;
  border-radius: 8px;
  width: 250px;
  text-align: left;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 3; /* ainda mais acima para hover funcionar */
}

.menu-item-card h2 {
  margin: 0 0 12px;
  font-size: 20px;
  color: #ff3f4b;
}

.menu-item-card p {
  margin: 0;
  font-size: 14px;
  color: #ccc;
}

.menu-item-card:hover {
  background: #3a3a4f;
  transform: scale(1.03);
}
